[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hs-test-python = {file = "https://github.com/hyperskill/hs-test-python/archive/release.tar.gz"}
beautifulsoup4 = "==4.9.3"
furl = "==2.1.0"
requests = "==2.24.0"

[dev-packages]

[requires]
python_version = "3.10"
